p {
    /* hex example: */
    color: #1100ff;
    /* rgb example: */
    color: rgb(100,0,127);
    /* hsl example: */
    color: hsla(15, 82%, 56%, 0.72);
}

div {
    background-color:bisque;
    color:aquamarine;
    font-size: 21px;
    text-align:center;
    font-weight:bold;
}